/* workout.css */

.workout-li h3, 
.workout-form h3,
.exercises-section li h3{
  text-align: center;
  height: 2.2rem;
  margin-bottom: 2rem;
}

.workout-li h3 a, 
.workout-form h3,
.exercises-section li h3{
  font-size: 1.8rem;
  font-family: 'Bevan', cursive;
  color: black;
}

.workout-li h3 a:hover{
  text-decoration: underline;
  font-size: 1.9rem;
}

.workout-button-container,
.delete-button-container,
.exercise-button-container{
  margin: 1rem 10% 0;
}

.workout-button-container button,
.delete-button-container button,
.exercise-button-container button{
  font-size: 1.6rem;
  padding: .4rem 1rem;
  border: none;
  border-radius: 1.6rem;
  transition: .3s;
}

.workout-button-container button:first-child:hover,
.delete-button-container button:last-child:hover,
.exercise-button-container button:first-child:hover{
  background-color: rgb(201, 201, 201);
}

.workout-button-container button:last-child,
.delete-button-container button:last-child,
.exercise-button-container button:last-child{  
  float: right;
}

.workout-button-container button:last-child:hover,
.delete-button-container button:first-child:hover,
.exercise-button-container button:last-child:hover{  
  background-color: rgb(210, 0, 0);
  color: white;
}

.workoutForm-button-submit{
  background-color:rgba(70, 230, 140, 1);
}