.workoutAdd-li {
  display: flex;
  justify-content: center;
}

.workoutAdd-li button {
  flex: 0 0 140px;
  height: auto;
  align-self: center;
  border: none;
  background: none;
  color: black;
  font-size: 1.8rem;
}

.workoutAdd-li button:hover{
  color: rgb(0, 0, 0);
  text-decoration: underline;
}