
.workouts-section{
  margin: 2rem;
  background-color: white;
}

.workouts-section h2{
  font-size: 2.4rem;
  text-align: center;
  padding: 2rem;
}

.workouts-section ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 2rem;
}

.workouts-section li {
  /* background-color: rgb(158, 245, 197); */
  background-color: rgb(98, 184, 224);
  padding: 1rem;
  flex: 1 0 240px;
  margin: 2rem 1rem 0 ;
  box-shadow: .1rem .1rem .7rem .1rem  rgb(145, 145, 145);
}

@media screen and (min-width: 480px) {
  .workouts-section li {
    max-width: calc(50% - 20px);
  }
}

@media screen and (min-width: 780px) {
  .workouts-section li {
    max-width: calc(33.333% - 20px);
  }
}

@media screen and (min-width: 1080px) {
  .workouts-section li {
    max-width: calc(25% - 20px);
  }
}

@media (min-width: 1380px) {
  .workouts-section li {
    max-width: calc(20% - 20px);
  }
}

/* @media (min-width: 1280px) {
  .workouts-section li {
    max-width: calc(16.67% - 20px);
  } */
/* } */