.workout-formGroup{
  padding: 1rem;
}

.workout-formGroup label, .workout-formGroup input{
  font-size: 1.8rem;
  margin-top: .4rem;
}

.workout-formGroup input{
  width: 100%;
  border: none;
  border-radius: .8rem;
  padding: .4rem;
}