.top-nav {
  background-color: black;
  position: fixed;
  width: 100%;
}

.nav-brand{
  display: inline-block;
  margin: 1rem 0 1rem 1.5rem;
  color:rgb(230, 230, 230);
}

.nav-brand h1{
  display: inline;
}

.nav-brand:hover{
  color: rgb(100, 100, 100);
}

.nav-brand-font{
  font-family: 'Bevan', cursive;
  font-size: 2.6rem;
  margin-right: .4rem;
}

.nav-brand-img{
  width: 2.8rem;
}

.nav-button {
  float: right;
  width: 4rem;
  height: 2.8rem;
  position: relative;
  margin: 2rem 1.8rem;
  padding: 0;
  transform: rotate(0deg);
  transition: .3s ease-in-out;
  background-color: black;
  cursor: pointer;
  border: none;
}

.nav-button span {
  display: block;
  position: absolute;
  height: .4rem;
  width: 100%;
  background: #ffffff;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .3s ease-in-out;
}

.nav-button span:nth-child(1) {
  top: 0rem;
}

.nav-button span:nth-child(2) {
  top: 1.2rem;
}

.nav-button span:nth-child(3) {
  top: 2.4rem;
}

.nav-button.open span:nth-child(1) {
  top: 1.2rem;
  transform: rotate(135deg);
}

.nav-button.open span:nth-child(2) {
  opacity: 0;
}

.nav-button.open span:nth-child(3) {
  top: 1.2rem;
  transform: rotate(-135deg);
}

.top-nav ul{
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  list-style-type: none;
}

.top-nav ul.collapse {
  display: none;
  position: absolute;
}

.top-nav li{
  padding: 1rem 0;
  border-top: 1px dashed white;
}

.top-nav li a{
  font-family: 'Bevan', cursive;
  text-decoration: none;
  font-size: 2.0rem;
  color: white;
}

.top-nav li:hover{
  background-color: rgb(70, 70, 70);
  transition: .3s;
}

.top-nav li a:hover, .logout-button:hover{
  text-decoration: underline;
}

.logout-button{
  color: white;
  font-family: 'Bevan', cursive;
  font-size: 2rem;
  border: none;
  background: none;
}

.logout-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 770px){
  .nav-button{
    display: none;
  }

  .top-nav ul.collapse{
    position: static;
    display: block;
    visibility: visible;
    width: auto;
    float: right;
    transition: none;
    margin-top: 2.9rem;
    margin-right: 1.5rem;
  }

  .top-nav ul li{
    display: inline;
    border: none;
  }

  .top-nav li a, .logout-button{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.8rem;
    padding-left: 2rem;
  }

  .top-nav li:hover{
    background: none;
  }

  .top-nav .icon{display: none;}
}

@media screen and (min-width: 876px) {
  .top-nav .icon{display: inline}
}

