* {
  box-sizing: border-box;
  font-family: 'Pontano Sans', sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: .12rem;
}

html {
  font-size: 62.5%;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 7rem;
  flex: 1 0 auto;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.4)),
    url('./images/gym-mobile.jpg')
    center / cover
    no-repeat
    fixed;
}

a{
  text-decoration: none;
}


/* 
font-family: 'Bevan', cursive;
font-family: 'Pontano Sans', sans-serif;
*/

h1, h2, h3, h4 {
  font-family: 'Bevan', cursive;
}

p {
  font-family: 'Pontano Sans', sans-serif;
}

button{
  cursor: pointer;
}

button:disabled, button[disabled]{
  background-color: rgb(90, 90, 90) !important;
  color:black !important;
  cursor: not-allowed;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session {
  z-index: +1;
}

.modal-body {
  background-color: rgb(230, 230, 230);
  max-width: 300px;
  margin: auto;
  position: relative;
  padding: 2rem;
  text-align: center;
}

.session-icon,
.modal-body p,
.modal-body h3{
  font-size: 2.2rem;
  padding: 0 2rem;
}

.modal-body p {
  margin: 2rem 0;
}

.modal-body button:first-of-type{
  float: left;
}

.session-icon{
  color: rgb(100, 185, 225);
  font-size: 3rem;
  margin-top: 2rem;
}

.nutrition-section{
  overflow: auto;
  max-height: 360px;
}

.hidden {
  display: none;
}

.inline{
  display: inline !important;
}

.error{
  color: red;
  font-size: 1.6rem;
}