/* exerciseList.css */

.exercises-back-button {
  margin-left:2rem;
  font-size: 1.6rem;
  border-radius: 1.6rem;
  padding: .4rem 1rem;
  color: white;
  background-color: black;
  border: none;
  transition: .3s;
}

.exercises-back-button:hover{
  background-color: rgb(80, 80, 80)
}

.exercises-section p {
  font-size: 1.6rem;
}

.exercises-section li{
  background-color: rgb(90, 205, 200);
  flex: 1 0 260px;
}

@media screen and (min-width: 540px) {
  .exercises-section li {
    max-width: calc(50% - 20px);
  }
}

@media screen and (min-width: 840px) {
  .exercises-section li{
    max-width: calc(33.333% - 20px);
  }
}

@media screen and (min-width: 1140px) {
  .exercises-section li {
    max-width: calc(25% - 20px);
  }
}

@media (min-width: 1400px) {
  .exercises-section li{
    max-width: calc(20% - 20px);
  }
}