/* exercise.css */

.exercise-detail-container{
  padding: 0 1rem;
  height: 10.6rem;
  overflow: auto;
}

.exerciseForm label,
.exercise-detail-container span{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.exercise-hr{
  border: 0;
  height: .1rem;
  background-image: 
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1), 
      rgba(0, 0, 0, 0)
  );
  margin: 1rem 0;
}