.register-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-form{
  flex: 0 1 60rem;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 2rem;
  color: rgb(240, 240, 240);
}

#register-form legend{
  font-family: 'Bevan', cursive;
  font-size: 3rem;
  text-align: center;
  margin: 0 0 4rem 0;
  padding: 2rem 0 0;
}

#register-form fieldset{
  border: none;
}

.user-inputs-wrapper {
  display: flex;
  flex-flow: row wrap;
}

#register-form .form-group{
  flex: 1 1 auto;
  padding: 0 2rem 2rem;
}

#register-form label{
  display: block;
  margin-bottom: .8rem;
}

#register-form .user-input-text{
  width: 100%;
}

.user-inputs-wrapper,
#register-form input,
.user-inputs-wrapper select{
  font-size: 2rem;
}

.user-inputs-wrapper .validation-err{
  color: red;
  font-size: 1.4rem;
  display: block;
  height: 1.8rem;
}

.height-input, 
#weight, 
#register-form #bodyFat{
  width: 7rem;
  margin-right: .5rem;
}

#register-form #bodyFat{
  display: inline-block;
}

#register-form input{
  padding: .4rem .6rem;
  border: none;
}

#register-form select{
  margin-right: .5rem;
}

#register-form input, 
#register-form select{
  background: rgb(240, 240, 240);
  color: black;
}

#register-form button{
  color: black;
  background-color:rgb(0, 175, 75); 
  font-size: 2.2rem;
  border: none;
  margin: 0 auto 2rem;
  display: block;
  padding: 1rem;
}

#register-form button:hover{
  background-color: rgb(0, 120, 40);
  transition: .3s;
}

#register-form button:active{
  background-color: rgb(90, 90, 90);
}

#register-form input, 
#register-form button,
#register-form{
  border-radius: .5rem;
}