/*  recipes.css */

.recipes-section{
  padding-bottom: 2rem;
}

.recipes-section h2{
  font-size: 3.2rem;
  text-align: center;
  background: 
    linear-gradient(
      rgba(0, 0,0 ,.8),rgba(0,0,0,.2), 
      rgba(0, 0, 0, .8)
    ),
    url('../../landing/images/landing-recipes.jpg')
    top 10% center / cover
    no-repeat;
  padding: 2rem;
  color: white;
  text-shadow: 0 0 .4rem black;
}

#recipe-search-form{
  flex-flow: row wrap;
}

.recipe-searchBar{
  display: flex;
  justify-content: center;
  flex: 1 0 100%;
}

#recipe-search-filters-button.showFilters-true{
  color: rgb(0, 96, 141);
  background-color: rgb(211, 211, 211);
  border-right: 1px solid rgb(180, 180, 180);
}

#recipe-search-form input[type=text]{
  flex: 1 1 16rem;
  border-left: none;
  border-right: none;
  padding: .4rem .8rem;
  width: 18rem;
}

.recipe-search-filters{
  background-color: white;
  border: none;
  padding: 0 1rem 1rem;
  border-radius: .8rem;
  display: flex;
}

.recipe-search-filters hr{
  border-style: solid;
  border-width: .5px;
}

.recipe-filters-legend{
  margin-bottom: .5rem;
  position: relative;
  top: 2rem;
}

.recipe-filters-legend,
.filter legend{
  text-align: center;
}

.recipe-search-filters fieldset{
  border:  none;
}

.recipe-search-filters h3, h4{
  font-family: 'Pontano Sans', sans-serif;
}

.recipe-search-filters h3{
  font-size: 2rem;
}

#clear-filters-button,
.recipe-search-filters h4{
  font-size: 1.6rem;
  padding-top: .5rem;
}

.filters-container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.separator{
  width: 1px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0,0,0,1),
    rgba(0, 0, 0, 0)
  );
}

.filter{
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  margin: 0 1rem;
}

.filter label{
  font-size: 1.6rem;
  margin-top: 1rem;
}

.filter input{
  margin-right: .5rem;
  font-size: 1.6rem;
}

#clear-filters-button{
  background-color: black;
  color: white;
  padding: .4rem 1.45rem;
  border: none;
  border-radius: 1.45rem;
  margin: 1rem auto 0;
  transition: .3s;
}

#clear-filters-button:hover{
  background-color: rgb(80, 80, 80);
}

@media screen and (min-width: 400px) {
  #recipe-search-form input[type=text]{
    max-width: 40rem;
  }
}