/* myRecipes.css */

.myRecipes h2{
  font-size: 3.2rem;
  background:
    linear-gradient(
      rgba(0, 0,0 ,.8),rgba(0,0,0,.2), 
      rgba(0, 0, 0, .8)
    ),
    url('./myRecipes.jpg')
    bottom 10% center / cover
    no-repeat;
  padding: 2rem;
  color: white;
  text-shadow: 0 0 .4rem black;
}

.no-recipes,
.myRecipes h2{
  text-align: center;
}

.no-recipes{
  font-size: 2rem;
}

.myRecipes ul{
  padding: 0 2rem 2rem;
}

.myRecipes li,
.no-recipes{
  margin-top: 2rem;
}